.task-container {
    width: 100%;
    padding: 0 20%;
    box-sizing: border-box;
}

.buttons-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .task-container {
        padding: 0 5%;
    }
}

@media (max-width: 600px) {
    .task-container {
        padding: 0 0;
    }
}
