$block: '.wrapper';

#{$block} {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__layout {
        display: flex;
        flex-direction: column;
        margin-bottom: 56px;
    }

    &__content {
        margin-top: 10px;
    }
}
