.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 56px;
}

.landing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
}
